name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install gRPC tools
      run: pip install grpcio-tools

    - name: Generate gRPC code
      run: |
        python -m grpc_tools.protoc -Isrc/tenso/grpc \
              --python_out=src/tenso/grpc \
              --grpc_python_out=src/tenso/grpc \
              src/tenso/grpc/tenso_msg.proto
              
    - name: Install dependencies
      # Installs the package in editable mode along with 'dev' dependencies
      # defined in your pyproject.toml (pytest, pyarrow, safetensors, etc.)
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[dev]"
        pip install pytest

    - name: Run tests
      run: |
        pytest -v
<<<<<<< HEAD

    - name: Install gRPC tools
      run: pip install grpcio-tools

    - name: Generate gRPC code
      run: |
        python -m grpc_tools.protoc -Isrc/tenso/grpc \
              --python_out=src/tenso/grpc \
              --grpc_python_out=src/tenso/grpc \
              src/tenso/grpc/tenso_msg.proto
=======
>>>>>>> 9b6048f (feat: add gRPC support for tensor operations, including benchmarking and integration tests)
